version: "3.8"

services:

  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"      # AMQP
      - "15672:15672"    # RabbitMQ Dashboard
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    volumes:
      - redis-data:/data
    networks:
      - backend

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres-init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend

# ------------------------
  # CORE SERVICES
  # ------------------------

  api-gateway-service:
    build:
      context: ./api-gateway-service
      dockerfile: Dockerfile
    container_name: api-gateway-service
    ports:
      - "8000:8000"
    env_file:
      - ./api-gateway-service/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - backend
    restart: unless-stopped

  template-service:
    build:
      context: ./template-service
      dockerfile: Dockerfile
    container_name: template-service
    ports:
      - "8001:8001"
    env_file:
      - ./template-service/.env
    environment:
      - RABBIT_URL=amqp://guest:guest@rabbitmq:5672
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - backend
    restart: unless-stopped

  email-service:
    build:
      context: ./email-service
      dockerfile: Dockerfile
    container_name: email-service
    ports:
      - "8002:8002"
    env_file:
      - ./email-service/.env
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      template-service:
        condition: service_started
    networks:
      - backend
    restart: unless-stopped

  push-service:
    build:
      context: ./push-service
      dockerfile: Dockerfile
    container_name: push-service
    volumes:
      - ./firebase-service-account.json:/app/firebase-service-account.json:ro
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-service-account.json
    env_file:
      - ./push-service/.env
    depends_on:
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    ports:
      - "8003:8003"
    networks:
      - backend
    restart: unless-stopped

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    env_file:
      - ./user-service/.env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8004:8004"
    networks:
      - backend
    restart: unless-stopped

volumes:
  pgdata:
  redis-data:

networks:
  backend:
    driver: bridge
